<section id="education" class="section">
    <div class="container">
        <div class="section-title">
            <h2>Education & Certifications</h2>
            <p>Continuous learning and professional development</p>
        </div>
        
        <div class="education-grid">
            <div class="education-card animate-on-scroll">
                <div class="education-icon">
                    <i class="fas fa-graduation-cap"></i>
                </div>
                <div class="education-title">BSc in Telecommunications & IT Engineering</div>
                <div class="education-subtitle">Kenyatta University</div>
                <div class="education-year">2018</div>
            </div>

            <div class="education-card animate-on-scroll">
                <a href="https://freecodecamp.org/certification/fcc8b9530fb-03da-4c2f-99f1-5c687f057798/data-analysis-with-python-v7" target="_blank">
                <div class="education-icon">
                    <i class="fa-brands fa-free-code-camp"></i>
                </div>
                <div class="education-title">Data Analysis with Python</div>
                <div class="education-subtitle">freeCodeCamp</div>
                <div class="education-year">2024</div>
                </a>
            </div>

            <div class="education-card animate-on-scroll">
                <div class="education-icon">
                    <i class="fa-brands fa-google"></i>
                </div>
                <div class="education-title">Google Analytics Professional Certificate</div>
                <div class="education-subtitle">Google</div>
                <div class="education-year">2024</div>
            </div>

            <div class="education-card animate-on-scroll">
                <div class="education-icon">
                    <i class="fa-brands fa-google"></i>
                </div>
                <div class="education-title">Google UI/UX Professional Certificate</div>
                <div class="education-subtitle">Google</div>
                <div class="education-year">2023</div>
            </div>

            <div class="education-card animate-on-scroll">
                <div class="education-icon">
                    <i class="fa-brands fa-product-hunt"></i>
                </div>
                <div class="education-title">Product Analytics Micro-Certification (PAC)</div>
                <div class="education-subtitle">Product School</div>
                <div class="education-year">2022</div>
            </div>
        </div>
    </div>
</section>